---
import BaseLayout from "@/layouts/BaseLayout.astro";

if (!Astro.locals.session && !Astro.locals.user) {
  return Astro.redirect("/sign-in");
}
---

<BaseLayout>
  <div class="wrapper | space-y-8">
    <h1 class="text-3xl font-bold">Hello, {Astro.locals?.user?.name}.</h1>
  </div>
</BaseLayout>
