---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="wrapper | max-w-md space-y-8">
    <h1 class="text-3xl font-bold">Forgot password</h1>

    <form id="forgot-password-form" class="space-y-6">
      <div class="grid gap-2">
        <label class="label" for="email">Email</label>
        <input
          id="email"
          class="input"
          type="email"
          name="email"
          placeholder="joe@email.com"
          required
        />
      </div>

      <button class="btn w-full" type="submit">Send reset link</button>
    </form>
  </div>
</BaseLayout>

<script>
  import { authClient } from "@/lib/auth-client";

  const form = document.querySelector<HTMLFormElement>("#forgot-password-form");
  const baseUrl = import.meta.env.BETTER_AUTH_URL;

  form?.addEventListener("submit", async (e: SubmitEvent) => {
    e.preventDefault();

    const formData = new FormData(form);
    const email = formData.get("email") as string;

    try {
      await authClient.requestPasswordReset(
        {
          email,
        },
        {
          onSuccess: (context) => {
            document.dispatchEvent(
              new CustomEvent("basecoat:toast", {
                detail: {
                  config: {
                    category: "success",
                    title: "Success",
                    description: context.data.message,
                    cancel: {
                      label: "Dismiss",
                    },
                  },
                },
              }),
            );
          },
          onError: (context) => {
            console.log(context);
            console.error("Reset password failed:", context.error.message);
          },
        },
      );
    } catch (error) {
      console.error("Unexpected error:", error);
    }
  });
</script>
