---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="wrapper | max-w-md space-y-8">
    <h1 class="text-3xl font-bold">Reset password</h1>

    <form id="reset-password-form" class="space-y-6">
      <div class="grid gap-2">
        <label class="label" for="new-password">New password</label>
        <input
          id="new-password"
          class="input"
          required
          type="password"
          name="newPassword"
          minlength="8"
          maxlength="32"
        />
      </div>

      <button class="btn w-full" type="submit">Set new password</button>
    </form>
  </div>
</BaseLayout>

<script>
  import { authClient } from "@/lib/auth-client";

  const token = new URLSearchParams(window.location.search).get(
    "token",
  ) as string;
  const form = document.querySelector<HTMLFormElement>("#reset-password-form");

  if (!token) {
    // TODO Handle the error
  }

  form?.addEventListener("submit", async (e: SubmitEvent) => {
    e.preventDefault();

    const formData = new FormData(form);
    const newPassword = formData.get("newPassword") as string;

    try {
      await authClient.resetPassword(
        { newPassword, token },
        {
          onSuccess: () => {
            window.location.href = "/sign-in";
          },
          onError: (context) => {
            console.error("Reset password failed:", context.error.message);
          },
        },
      );
    } catch (error) {
      console.error("Unexpected error:", error);
    }
  });
</script>
