---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.signIn);

if (result && !result.error && result.data.cookies.length > 0) {
  Astro.response.headers.append("Location", "/dashboard");
  Astro.response.status = 302;

  for (const cookie of result.data.cookies) {
    Astro.response.headers.append("Set-Cookie", cookie);
  }

  return new Response(null, Astro.response);
}
---

<BaseLayout>
  <div class="wrapper | space-y-8">
    <h1 class="text-3xl font-bold">Sign in</h1>

    {
      result?.error && (
        <div id="error-box" class="alert-destructive border-red-200 bg-red-50">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <>
              <circle cx="12" cy="12" r="10" />
              <line x1="12" x2="12" y1="8" y2="12" />
              <line x1="12" x2="12.01" y1="16" y2="16" />
            </>
          </svg>
          <h2>Something went wrong!</h2>
          <section id="error-message">{result.error?.message}</section>
        </div>
      )
    }

    <form
      id="signin-form"
      class="space-y-4"
      method="POST"
      action={actions.signIn}
    >
      <input
        class="input"
        type="email"
        name="email"
        placeholder="Email"
        value="test@email.com"
        required
      />
      <input
        class="input"
        type="password"
        name="password"
        placeholder="Password"
        value="password"
        required
      />
      <button class="btn" type="submit">Sign in</button>
    </form>

    <p>
      Don’t have an account?
      <a href="/sign-up" class="ml-1 underline">Sign up here</a>.
    </p>
  </div>
</BaseLayout>
