---

---

<form id="update-password-form" class="space-y-4">
  <div id="error-box" class="alert-destructive hidden border-red-200 bg-red-50">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><circle cx="12" cy="12" r="10"></circle><line
        x1="12"
        x2="12"
        y1="8"
        y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"></line></svg
    >
    <h2>Something went wrong!</h2>

    <section id="error-message">
      Your session has expired. Please log in again.
    </section>
  </div>

  <div class="grid gap-2">
    <label class="label" for="current-password">Current password</label>
    <input
      id="current-password"
      class="input"
      required
      type="password"
      name="currentPassword"
    />
  </div>

  <div class="grid gap-2">
    <label class="label" for="new-password">New password</label>
    <input
      id="new-password"
      class="input"
      required
      type="password"
      name="newPassword"
      minlength="8"
      maxlength="32"
    />
  </div>

  <button class="btn" type="submit">Update password</button>
</form>

<script>
  import { authClient } from "@/lib/auth-client";

  const updatePasswordForm = document.querySelector<HTMLFormElement>(
    "#update-password-form",
  );
  const errorBox = document.querySelector("#error-box") as HTMLElement;
  const errorMessage = document.querySelector("#error-message") as HTMLElement;

  const displayError = (message: string): void => {
    errorMessage.textContent = message;
    errorBox.classList.remove("hidden");
  };

  const hideError = (): void => {
    errorMessage.textContent = "";
    errorBox.classList.add("hidden");
  };

  updatePasswordForm?.addEventListener("submit", async (e: SubmitEvent) => {
    e.preventDefault();
    hideError();

    const formData = new FormData(updatePasswordForm);
    const currentPassword = formData.get("currentPassword") as string;
    const newPassword = formData.get("newPassword") as string;

    if (currentPassword === newPassword) {
      console.error("The new password can't be the same as the old password.");
      displayError("The new password can't be the same as the old password.");
      return;
    }

    try {
      await authClient.changePassword(
        {
          currentPassword,
          newPassword,
        },
        {
          onSuccess: (context) => {
            updatePasswordForm.reset();

            document.dispatchEvent(
              new CustomEvent("basecoat:toast", {
                detail: {
                  config: {
                    category: "success",
                    title: "Success",
                    description: context.data.message,
                    cancel: {
                      label: "Dismiss",
                    },
                  },
                },
              }),
            );
          },
          onError: (context) => {
            displayError(context.error.message);
          },
        },
      );
    } catch (error) {
      console.error("Something went wrong while updating the password:", error);
    }
  });
</script>
