---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro DB Better Auth</title>
    <script
      src="https://cdn.jsdelivr.net/npm/basecoat-css@0.2.8/dist/js/toast.min.js"
      defer></script>
  </head>

  <body>
    <Header />
    <main class="py-10">
      <slot />
    </main>
    <div id="toaster" class="toaster"></div>
  </body>
</html>
